*,
*::before,
*::after {
    box-sizing: border-box;
}


body { font-family: Roboto, sans-serif; color:#434455;
     font-weight: regular; font-size: 16px;
     font-line-height: 24px; background-color: #ffffff; margin: 0;}

a {text-decoration: none;}  
ul {list-style: none; margin: 0; padding-left: 0;}   

h1, h2, h3, p {margin: 0;}
img {display: block; max-width: 100%; height: auto;}
.container { 
     
    width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
.section {padding-top: 120px; padding-bottom: 120px;}
/*header*/
.header-container {
    display: flex; padding-top: 24px ; padding-bottom: 24px;
    align-items: center; justify-content: space-between;}



.logoheader {
    font-family: "Raleway", sans-serif; font-weight: 700; 
    font-size: 18px;line-height: 1.17; letter-spacing: 0.03em; 
    text-transform: uppercase;color: #4d5ae5;
    margin-right: 76px;}
.logoheader .logo-color {color: #2E2F42;}   

.navmain {
    display: flex;}
.navlink {list-style: none; display: flex; gap: 40px; margin-right: 332px;}
.navlink .navi:hover, .navlink .navi:focus {
    text-decoration: underline; color: #404BBF;}
.navi {line-height: 1.5; letter-spacing: 0.02em; font-weight: 500; color: #2E2F42;}

.address {font-style: normal;}
.address-list {display: flex; gap: 40px; }
.link-address:hover, .link-address:focus {color: #404BBF;}
.link-address {line-height: 1.5; letter-spacing: 0.02em; color: #434455; }

/*button section 1*/
.section-main-title {
    background-color: #2e2f42; 
        align-items: center;}
.main-title {
    font-size: 56px;
    line-height: 1.07; padding-bottom: 48px;}

.button {color: #ffffff;background: #4D5AE5; 
    cursor:pointer; font-weight: 500; 
    line-height: 1.5; letter-spacing: 0.04em; border-radius: 4px;
    
        padding: 16px 32px;
        width: 169px;
        margin-bottom: 188px; 
        margin-right: 494px;
        margin-left: 495px;
        ;
        }
.button:hover, .button:focus {color: #ffffff;background-color: #404BBF;}

.main-title {text-align: center; 
    letter-spacing: 0.02em; color: #ffffff;  
    padding-top: 188px;  
    padding-left: 275px; padding-right: 275px;}

/*section 2*/
.visually-hidden {position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%);
clip: rect(0 0 0 0); overflow: hidden;}
.values-list {flex-direction: row; gap: 24px; width: 1128px; display: flex; flex-wrap: wrap; gap: 24px;}
.values-list .values-block {width: calc((100% - 72px) / 4);}
.values-block { width: 264px;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;}
.values-title {font-weight: 500;font-size: 20px;
     line-height: 1.2;  letter-spacing: 0.02em; 
     color: #2e2f42;}
.values-p {line-height: 1.5; letter-spacing: 0.02em}

/*section 3*/

.ourteam-section {background-color: #f4f4fd; }
.ourteam-title {font-size: 36px; line-height: 1.11; text-align: center;letter-spacing: 0.02em;text-transform: capitalize; color:#2e2f42; padding-bottom: 72px;}
.ourteam-list {list-style: none; display: flex; flex-wrap: wrap; gap: 24px; }
.ourteam-list .staff {width: calc((100% - 72px) / 4);}
.staff {background-color: #FFFFFF;display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;}
.staff-title {font-weight: 500; font-size: 20px; 
    line-height: 1.2; letter-spacing: 0.02em;
    padding-bottom: 8px; color: #2e2f42;}
.staff-p {line-height: 1.5; letter-spacing: 0.02em;}
.staff .card {padding-bottom: 32px;}

/*section 4*/

.outportfolio-list {list-style: none;display: flex; flex-wrap: wrap; gap: 24px;}
.outportfolio-list .portfolio-block {width: calc((100% - 48px) / 3);}
.outportfolio-title {font-size: 36px; line-height: 1.11; text-align: center; letter-spacing: 0.02em; 
     text-transform: capitalize; color: #2e2f42; padding-bottom: 72px;}
.portfolio-block {width: 360px; border-bottom: 1px solid #e7e9fc;
    border-left: 1px solid #e7e9fc;
    border-right: 1px solid #e7e9fc;
   
    width: 360px;}
.portfolio-title {
    font-weight: 500; font-size: 20px; line-height: 1.2; letter-spacing: 0.02em; color: #2e2f42;
padding-top: 32px; padding-right: 16px; padding-left: 16px;}
.portfolio-p {
    line-height: 1.5; letter-spacing: 0.02em;padding-top:8px;padding-bottom: 32px;
        padding-right: 16px;
        padding-left: 16px; }


.footer {background-color: #2E2F42;}
.logofooter {padding-top: 100px;
    font-family: "Raleway", sans-serif; font-weight: 700; 
    font-size: 18px;line-height: 1.17; letter-spacing: 0.03em; 
    text-transform: uppercase; color: #4d5ae5;
    }
.logofooter .logo-color {color: #f4f4fd;}
.footer-p {line-height: 1.5; color: #f4f4fd;
     letter-spacing: 0.02em; width: 264px; padding-top: 16px;
    padding-bottom: 100px; }